.theme-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.theme-card{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap : 10px 20px;
}

.theme-card .card{
    width: 130px;
    height: 150px;
}
