.answer span{
    font-style: italic;
    color:grey;
    font-size: 12px;
}

.answer .form-control{
    margin-top: 15px;
    height : 35px;
    border-radius: 10px;
    text-align: center;
    border: 2px solid #281754;
    width : 250px;

}

/*.player{*/
/*    width: 436px;*/
/*    margin-left: 380px;*/
/*}*/

.player .css-tg9irj div{
    /*width: 27% !important;*/
    margin-left: 435px;
}

#mainActionContainer{
    position: absolute;
    bottom: 150px;
    left : 46%;
    z-index:100;
    cursor: pointer !important;
}
.css-52oi9o{
    display: none;
}